* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button,
a {
	cursor: pointer;
	transition: 0.2s linear;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

:root {
	--mainTextColor: #212121;
	--secondaryTextColor: #757575;
	--mainBgColor: #2F303A;
	--secondaryBgColor: #F5F4FA;
	--interactiveColor: #2196F3;
	--colorWhite: #fff;
	--containerWidth: 1170px;
	--textLetterSpacing: 0.03em;
}

body {
	font-family: 'Raleway', sans-serif;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: va(--colorWhite);
	color: var(--mainTextColor);
	font-size: 14px;
}

.container {
	max-width: var(--containerWidth);
	margin: 0 auto;
}

.section {
	padding: 94px 0;
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: var(--textLetterSpacing);
}

.header {
	padding: 24px 0 25px;
	border: 1px solid #ECECEC;
}

.header-container {
	display: flex;
	align-items: center;
}

.header__logo {
	margin-right: 93px;
}

.logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: var(--textLetterSpacing);
	color: var(--mainTextColor);
}

.logo span {
	color: var(--interactiveColor);
}

.navigation__item {
	font-weight: 500;
	line-height: 1.15;
	letter-spacing: 0.02em;
	color: var(--mainTextColor);
}

.navigation__item:not(:last-child) {
	margin-right: 50px;
}

.header__contacts {
	margin-left: auto;
	display: flex;
}

.contacts__item {
	display: inline-flex;
	align-items: center;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 0.02em;
	color: var(--secondaryTextColor);
}

.contacts__item svg {
	margin-right: 10px;
}

.contacts__item:hover .header-icon {
	fill: var(--interactiveColor);
}

.header-icon {
	fill: #757575;
}

.contacts__item:not(:last-child) {
	margin-right: 50px;
}

.navigation__item:hover,
.contacts__item:hover,
.navigation__item:focus,
.contacts__item:focus {
	color: var(--interactiveColor);
}

.promo {
	padding: 200px 0;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/promo-bj.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.promo__wrapper {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.promo__title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--colorWhite);
	margin-bottom: 30px;
}

.promo__button {
	width: 100%;
	max-width: 216px;
	margin: 0 auto;
	background: var(--interactiveColor);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	padding: 10px 31px;
	border-radius: 4px;
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--colorWhite);
}

.features-container {
	display: flex;
}

.features__item {
	max-width: 270px;
}

.features__item:not(:last-child) {
	margin-right: 30px;
}

.features__icon {
	width: 270px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	background: var(--secondaryBgColor);
	border-radius: 4px;
}

.features__title {
	font-weight: 700;
	line-height: 1.15;
	letter-spacing: var(--textLetterSpacing);
	text-transform: uppercase;
	margin-bottom: 10px;
}

.features__text {
	line-height: 1.5;
	letter-spacing: var(--textLetterSpacing);
	color: var(--secondaryTextColor);
}

.work {
	padding-bottom: 94px;
}

.work__title {
	margin-bottom: 50px;
}

.work-wrapper {
	display: flex;
	gap: 30px;
}

.team {
	background-color: var(--secondaryBgColor);
}

.team-wrapper {
	display: flex;
	gap: 30px;
}

.team__title {
	margin-bottom: 50px;
}

.team-item {
	width: 100%;
	max-width: 270px;
	background-color: var(--colorWhite);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-item__wrapper {
	padding: 20px 0;
}

.team-item__links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.social-link {
	width: 44px;
	height: 44px;
}

.social-link a {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s linear;
}

.social-link a:hover,
.social-link a:focus {
	background-color: var(--interactiveColor);
}

.social-icon {
	fill: #AFB1B8;
	transition: 0.2s linear;
}

.social-link a:hover .social-icon,
.social-link a:focus .social-icon {
	fill: var(--colorWhite);
}

.team-item__name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: var(--textLetterSpacing);
	margin-bottom: 10px;
}

.team-item__position {
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: var(--textLetterSpacing);
	color: var(--secondaryTextColor);
	margin-bottom: 16px;
}

.projects-navigation {
	margin-bottom: 50px;
}

.projects-navigation__item {
	border-radius: 4px;
	padding: 6px 22px;
	background-color: var(--secondaryBgColor);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: var(--textLetterSpacing);
}

.projects-navigation__item:hover,
.projects-navigation__item:focus {
	background-color: var(--interactiveColor);
	color: var(--colorWhite);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-navigation {
	display: flex;
	justify-content: center;
}

.projects-navigation li:not(:last-child) {
	margin-right: 8px;
}

.projects-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.projects-item {
	width: 100%;
	max-width: 370px;
	background-color: var(--colorWhite);
	transition: 0.2s linear;
	position: relative;
}

.projects-item__wrapper {
	padding: 20px 24px;
	border: 1px solid #EEEEEE;
}

.projects-item__poster {
	display: block;
}

.projects-item__poster:hover,
.projects-item__poster:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-item__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	margin-bottom: 4px;
	letter-spacing: 0.06em;
	color: var(--mainTextColor)
}

.projects-item__category {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: var(--textLetterSpacing);
	color: var(--secondaryTextColor);
}

.partners__title {
	margin-bottom: 50px;
}

.partners-wrapper {
	display: flex;
	gap: 30px;
}

.partners-item {
	width: 170px;
	height: 92px;
	border-radius: 4px;
	transition: 0.2s linear;
}

.partners-item a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #AFB1B8;
}

.partners-item a:hover,
.partners-item a:focus {
	border-color: var(--interactiveColor);
}

.client-icon {
	fill: #afb1b8;
	transition: 0.2s linear;
}

.partners-item a:hover .client-icon,
.partners-item a:focus .client-icon {
	fill: var(--interactiveColor);
}

.footer {
	background: var(--mainBgColor);
	padding: 60px 0;
}

.footer .container {
	display: flex;
	align-items: baseline;
}

.footer__links {
	margin-left: 70px;
}

.footer__logo {
	display: inline-block;
	margin-bottom: 20px;
	color: var(--colorWhite);
}

.footer-address {
	font-style: normal;
	line-height: 1.7;
	letter-spacing: var(--textLetterSpacing);
	color: var(--colorWhite);
	margin-bottom: 9px;
}

.footer-wrapper__item {
	display: block;
	line-height: 1.7;
	letter-spacing: var(--textLetterSpacing);
	color: rgba(255, 255, 255, 0.6);
}

.footer-wrapper__item:hover,
.footer-wrapper__item:focus {
	color: var(--colorWhite);
}

.footer__social {
	max-width: 206px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.links__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: var(--textLetterSpacing);
	text-transform: uppercase;
	color: var(--colorWhite);
	margin-bottom: 20px;
}

.footer__social .social-link {
	border-radius: 50%;
}

.footer__social .social-link {
	background-color: rgba(255, 255, 255, 0.1);
}

.footer__social .social-link a:hover {
	background-color: var(--interactiveColor);
}

.footer__social .social-link .social-icon {
	fill: var(--colorWhite);
}